@use "@picocss/pico/scss" with (
    $theme-color: "purple"
);


main.content > .hero {

    display: grid;
    grid-template-columns: 1fr;
    margin-top: 5rem;
    justify-items: center;
    text-align: center;
}

main.content { 
    
    .posts {
        margin-top: 3rem;

        .post-grid {
            display: grid;
            gap: 2rem;
            padding: 0.5rem;

            @media (min-width: 640px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (min-width: 768px) {
                grid-template-columns: repeat(3, 1fr);
            }

            @media (min-width: 1024px) {
                grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            }
        }

        a {
            text-decoration: none;
        }
    }

    .post-content {
        margin-top: 3rem;
    }

    .authors {
        margin-top: 3rem;
    }


}

footer {
    margin: 2rem;
}